html {
    background: linear-gradient(to bottom, mediumturquoise, rgb(172, 181, 185));
    repeat: no-repeat;
    height: 100%;
    font-family: 'Helvetica', sans-serif;
}

h1 {
    text-align: center;
    color: black;
    text-align: center;
    text-shadow: 2px 2px 4px goldenrod; 
}

p {
    text-align: center;
    color: black;
    text-align: center;
    font-size: 20px;
    text-shadow: 1px 1px 2px black; 
}

canvas {
    display: block;
    width: 90%;
    max-width: 800px;
    padding: 10px;
    margin: 40px auto;
    background-color: black;
    border: 8px solid rgb(184, 23, 176);
}


